*~
Code/zhaw/components/target/*
Code/zhaw/services/target/*
Code/zhaw/components/test*sql
Code/zhaw/integration-tests/target/*
*/sandboxes/sandbox_*/out/*
*/sandboxes/sandbox_*/gen/*
Code/zhaw/components/*.class
